<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" [routerLink]="'.'">Solanas Wok & Grill</a>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'.'" (click)="isCollapsed = true">Home</a>
      </li>
    </ul>
  </div>
</nav>

<app-home></app-home>
<router-outlet></router-outlet>
<br/>

<footer class="bg-dark text-white py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <p class="text-white font-weight-bold">Contact us:</p>
              <p class="text-white">LG 20 Hong Kong Bazaar, Sector 57, Gurugram, Haryana 122413, India</p>
              <p class="text-white">
                  <i class="fas fa-phone-alt"></i><a href="tel:+919999516139"> +91 99995 16139</a>
              </p>
              </div>
          <div class="col-md-4">
              <p class="text-white font-weight-bold">Connect with us:</p>
              <div class="row">
                  <a href="https://www.facebook.com/solanas.solanas.7/" target="_blank">
                      <img src="../assets/images/facebook-icon_128x128.png" width="60" hight="60" class="l-5 px-2">
                  </a>
                  <a href="https://www.facebook.com/solanas.solanas.7/" target="_blank">
                      <img src="../assets/images/instagram-icon_128x128.png" width="60" hight="60" class="px-2">
                  </a>
                  <a href="https://www.facebook.com/solanas.solanas.7/" target="_blank">
                      <img src="../assets/images/linkedin-icon_128x128.png" width="60" hight="60" class="px-2">
                  </a>
                  <a href="https://www.facebook.com/solanas.solanas.7/" target="_blank">
                      <img src="../assets/images/youtube-icon_128x128.png" width="60" hight="60" class="px-2">
                  </a>
              </div>
              <br/>
          </div>
          <div class="col-md-4">
              <p class="text-white font-weight-bold">Apps:</p>
              <div class="row">
                  <img src="../assets/images/apple-store-icon.png" width="160" height="56">
                  <img src="../assets/images/google-play-icon.png" width="140" height="54">
              </div>
          </div>
      </div>
      <br/>
      <p class="small">Note: The images are for illustration purpose only.</p>
  </div>
</footer>
