<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../assets/images/BrandCover900x400.png" class="img-fluid" style="width: 100%;">
      </div>
      <div class="carousel-caption">
        <a href="http://orders.solanas.co.in/">
          <img src="../assets/images/order-now1.png" width="250" hight="150" class="px-2">
        </a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../assets/images/CrispyPrawnsThaiHerbs.png" class="img-fluid" style="width: 100%;">
      </div>
      <div class="carousel-caption">
        <a href="http://orders.solanas.co.in/">
          <img src="../assets/images/order-now1.png" width="250" hight="150" class="px-2">
        </a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../assets/images/Hot&SourSoup.png" class="img-fluid" style="width: 100%;">
      </div>
      <div class="carousel-caption">
        <a href="http://orders.solanas.co.in/">
          <img src="../assets/images/order-now1.png" width="250" hight="150" class="px-2">
        </a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../assets/images/VegHakkaNoodles.png" class="img-fluid" style="width: 100%;">
      </div>
      <div class="carousel-caption">
        <a href="http://orders.solanas.co.in/">
          <img src="../assets/images/order-now1.png" width="250" hight="150" class="px-2">
        </a>
      </div>
    </ng-template>
  </ngb-carousel>
  </div>
<br/>
<section>
    <div class="container">
        <h2 class="jumbotron-heading center text-center">About Us</h2>
        <p class="lead text-center">
            Solanas Wok & Grill is a Chinese and Thai restaurant in the nest of Hong Kong Bazaar, Sector 57, Gurugram.
            Solanas Wok & Grill offers mouth watering delicious food in most competitive prices. Best Dimsums, Thai Curries and many more...
        </p>
    </div>
</section>
